# Ignore environment files
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore the database (if using SQLite)
*.sqlite3
db.sqlite3

# Ignore logs and temporary files
*.log
*.swp
*.swo

# Ignore Virtual Environment
venv/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

